@font-face {
    font-family: myFirstFont;
    src: url(../font/IRANYekanBold.ttf);
  }
  *{
    font-family: myFirstFont;
  }


.container{
    width:400px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    direction: rtl;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &-buttons{
        display: flex;
        justify-content: space-between;

    }


}